%btn_primary {
  background-color: $main-green;
  color: $main-white;
  border-radius: 0;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  &:hover{
    cursor: pointer;
    background-color: $hover-green;
  }
}