@import '../base/colors';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #0C6F91, #164C5F);	
	height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.app-container {
  width: 50%;
  margin-left: 2cm;
  max-width: 1170px;
}

.column{
	float: left;
	margin-left: 2cm;
	width: 70%; 
}

.row:after{
	content: "";
	display: table;
	clear: both;
}