.campaign-page-name {
  font-family: Roboto, Oswald;
  font-size: 2.5em;
  text-transform: uppercase;
  color: $mainwhite;

}

.campaign-page-address {
  margin: 0.5em 0;
  font-family: Roboto, Oswald;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $mainwhite;
}

